*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    padding: 1em;
    display:flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
 gap: 1em;

}
input[type="text"]
{
    width: 2em;
    height: 2em;
    text-align: center;

}
.main{
    display: flex;
    gap: 2em;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}
.button{
    padding: 8px 16px;
    display: flex;
    gap: 1.5em;
}
button{
    padding: 4px 8px;
    width: 150px;
    cursor: pointer;
}